<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.label :gender, 'male', :value => 0 %>
    <%= f.radio_button :gender, 'male' %>
    <%= f.label :gender, 'female', :value => 1 %>
    <%= f.radio_button :gender, 'female' %>
  </div>

  <div class="field">
    <%= f.label :fitness_bio %><br />
    <%= f.text_field :fitness_bio %>
  </div>

  <div class="field">
    <%= f.label :fitness_level %><br />
    <%= f.select :fitness_level, options_for_select(%w[Beginner Intermediate Advanced]) %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
