<div class="panel-body">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :activity %><br>
    <%= f.select :activity, ["Swimming", "Running", "Yoga", "Boxing"], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.select :location, ["Virgin Active Molegate", "Fitness for Freaks"], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :time %><br>
    <%= f.time_select "time" %>
  </div>
  <div class="form-group">
    <%= f.label :day %><br>
    <%= f.date_select "day", class: "form-control" %>
  </div>
  <div class="form-group" >
    <%= f.submit "Create Post", class: "btn btn-default"  %>
  </div>
<% end %>
</div>
