<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity %><br>
    <%= f.select :activity, ["Swimming", "Running", "Yoga", "Boxing"] %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.select :location, ["Virgin Active Molegate", "Fitness for Freaks"] %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select "time" %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select "day" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
