<button class='btn btn-default' id='gender'>Gender</button>
<div id='post_gender'></div>
<br>
<select id="fitness_level" multiple="Multiple">
  <option>Beginner</option>
  <option>Intermidate</option>
  <option>Advanced</option>
</select>
<div id='selected_option'></div>

<h1>Buddy Requests</h1>

<table>

  <tbody>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <tr class=<% if User.find(post.user_id).gender == 0%> 
          'Male
        <% else %>
          'Female
        <% end %>
        <% if User.find(post.user_id).fitness_level == 0%>
          Beginner'
        <% elsif User.find(post.user_id).fitness_level == 1 %>
          Intermidate'
        <% else %>
          Advanced'
        <% end %>
        '>
        <td><p><%=image_tag User.find(post.user_id).image.url(:thumb)%></p></td>
        <td><%= post.activity %></td>
        <td><%= post.location %></td>
        <td><%= post.try(:time).try(:strftime, "%H:%M") %></td>
        <td><%= post.try(:day).try(:strftime, "%A %B %-d") %></td>

        <% if current_user %>
        <td><%= link_to 'Show', post %></td>
          <% if post.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>

        </td>
      </tr>
    <% end %>
  <% else %>
    <p>No posts yet</p>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Post', new_post_path %>
