<button class='btn' id='gender'>Gender</button>
<div id='post_gender'></div>

<h1>Buddy Requests</h1>

<table>
  <thead>
  </thead>
  <tbody>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <ul class=<%=User.find(post.user_id).gender%>>
        <tr><%=image_tag User.find(post.user_id).image.url(:thumb)%></tr>

        <tr>I am looking for a Gym Buddy at <strong><%= post.location %></strong>
            I want to do <strong><%= post.activity %></strong> on <strong><%= post.day %></strong>
            at <strong><%= post.time.strftime("%H:%M") %></strong></tr>

        <% if current_user %>
        <tr><%= link_to 'Show', post %></tr>
          <% if post.user_id == current_user.id %>
            <tr><%= link_to 'Edit', edit_post_path(post) %></tr>
            <tr><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
        </tr>
      </ul>
    <% end %>
  <% else %>
    <p>No posts yet</p>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Post', new_post_path %>
