<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @post.activity %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @post.time.strftime("%H:%M") %>
</p>

<p>
  <strong>Day:</strong>
  <%= @post.day %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
